@model FourLeafCloverShoe.Share.Models.Ranks

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
   
    ViewBag.Title = "Thêm mới";
    ViewBag.pTitle = "Cấp độ";
    ViewBag.pTitleLink = "Rank";



}
@Html.Partial("~/Areas/Admin/Shared/_ErrorMessage.cshtml")
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-xl-12">
        <div class="card">
            <form method="post" asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="form-label">Rank</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Nhập Rank">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">PointsMin</label>
                        <input asp-for="PointsMin" type="number" min="0" max="1000000000" class="form-control" placeholder="Nhập pointsmin">
                        <span asp-validation-for="PointsMin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">PointsMax</label>
                        <input asp-for="PoinsMax" type="number" min="0" max="1000000000" class="form-control" placeholder="Nhập pointsmax">
                        <span asp-validation-for="PoinsMax" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Mô Tả</label>
                        <input asp-for="Description" type="text" class="form-control" placeholder="Nhập Mô Tả">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12">
                        <div class="card-body text-end btn-page">
                            <button type="submit" class="btn btn-primary mb-0">Thêm mới</button>
                        </div>
                    </div>
            </form>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
