@model FourLeafCloverShoe.Share.Models.Colors

@{
    ViewData["Title"] = "Edit";
    ViewBag.pTitleLink = "Color";

}
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-xl-12">
        <div class="card">
            <form method="post" asp-action="Edit">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="form-label">Tên màu</label>
                        <input asp-for="ColorName" type="text" class="form-control" placeholder="Nhập Tên màu">
                        <input asp-for="Id" type="text" class="form-control" hidden>
                        <span asp-validation-for="ColorName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Mã màu</label>
                        <input asp-for="ColorCode" type="color" class="form-control form-control-color" placeholder="Nhập mã">
                        <span asp-validation-for="ColorCode" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12">
                        <div class="card-body text-end btn-page">
                            <button type="submit" class="btn btn-primary mb-0">Lưu thay đổi</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</div>
@Html.Partial("~/Areas/Admin/Shared/_ErrorMessage.cshtml")
