
<div class="container">
    <div style="display:block; text-align:center; align-content:center; align-items:center; justify-content:center; padding-top:30px">
        <h4 style="font-weight:bold">MUA SẮM CÙNG CHÚNG TÔI</h4>
        <h2 style="font-weight:bold">TẬN HƯỞNG ƯU ĐÃI HẤP DẪN</h2>
        <P>Khám phá những bộ sưu tập giày thể thao mới nhất với mức giá ưu đãi tại FLC. Chúng tôi cam kết mang đến cho bạn sản phẩm chính hãng, chất lượng cao và dịch vụ khách hàng tận tình. Đừng bỏ lỡ cơ hội nhận được những ưu đãi đặc biệt – hãy mua sắm ngay hôm nay và trở thành khách hàng thân thiết của chúng tôi để nhận được nhiều lợi ích hơn nữa!</P>
    </div>
    <div class="about-section" style="padding-top:80px">
        <h2>GIỚI THIỆU VỀ CHÚNG TÔI</h2>
        <div class="icon" onclick="toggleContent(this)">
            <span class="toggleIcon">+</span>
        </div>
    </div>
    <div class="content" style="display: none;">
        <p>Chào mừng bạn đến với FLC, cửa hàng chuyên cung cấp giày thể thao sneaker chất lượng cao! Tại FLC, chúng tôi luôn cập nhật những mẫu giày sneaker mới nhất từ các thương hiệu nổi tiếng, đảm bảo mang đến cho bạn sự thoải mái, phong cách và thời trang. Với phương châm “Chất lượng tạo nên thương hiệu”, FLC cam kết mang đến cho khách hàng những sản phẩm chính hãng với giá cả hợp lý và dịch vụ chăm sóc tận tâm. Hãy đến với FLC để trải nghiệm và lựa chọn cho mình đôi giày sneaker hoàn hảo nhất!</p>
    </div>
    <hr />
    
    <div class="about-section">
        <h2>Chương trình ưu đãi tích điểm dùng xu</h2>
        <div class="icon" onclick="toggleContent(this)">
            <span class="toggleIcon">+</span>
        </div>
    </div>
    <div class="content" style="display: none;">
        <p>Tham gia chương trình ưu đãi tích điểm dùng xu của FLC: Mỗi lần mua sắm, bạn sẽ nhận được điểm tích lũy để quy đổi thành xu sử dụng cho các lần mua sắm tiếp theo. Càng mua nhiều, càng tích lũy được nhiều xu – giúp bạn tiết kiệm hơn khi mua sắm những đôi giày yêu thích. Đăng ký thành viên ngay hôm nay để bắt đầu tích điểm và trải nghiệm ưu đãi tuyệt vời này!</p>
    </div>
    <hr />
    <div class="about-section">
        <h2>Hướng dẫn dùng xu tích điểm</h2>
        <div class="icon" onclick="toggleContent(this)">
            <span class="toggleIcon">+</span>
        </div>
    </div>
    <div class="content" style="display: none;">
        <p>Hệ thống điểm và hạng:

"Số điểm tích lũy của quý khách sẽ bằng tổng số tiền của đơn hàng đó": Điều này có nghĩa là nếu một khách hàng mua một sản phẩm trị giá 1,000,000 VNĐ, họ sẽ tích lũy được 1,000,000 điểm.
"Số điểm này giúp quý khách thăng hạng": Những điểm này có thể giúp khách hàng đạt được các mức hạng cao hơn trong chương trình khách hàng thân thiết, từ đó nhận được thêm các lợi ích và ưu đãi.
Sử dụng xu để giảm giá:

"Số xu tương ứng với tổng số tiền đơn hàng chia cho 100": Tức là với đơn hàng 1,000,000 VNĐ, khách hàng sẽ nhận được 10,000 xu.
"Số xu này có thể sử dụng để giảm giá cho các lần mua sắm tiếp theo": Điều này khuyến khích khách hàng sử dụng số xu tích lũy để giảm chi phí mua sắm trong tương lai.</p>
    </div>
    <hr />
    <div class="about-section">
        <h2>Chính sách hủy đơn hàng</h2>
        <div class="icon" onclick="toggleContent(this)">
            <span class="toggleIcon">+</span>
        </div>
    </div>
    <div class="content" style="display: none;">
        <p>Chúng tôi hiểu rằng đôi khi quý khách có thể thay đổi quyết định. FLC hỗ trợ hủy đơn hàng khi đơn hàng đang trong trạng thái chờ xác nhận. Quý khách có thể tự hủy đơn hàng nếu không muốn tiếp tục mua sắm. Để biết thêm chi tiết về chính sách hủy đơn hàng, vui lòng tham khảo trên website của chúng tôi hoặc liên hệ trực tiếp qua hotline để được hỗ trợ và giải đáp.</p>
        
    </div>
    <hr />

   

    <div style="display:block; text-align:center; align-content:center; align-items:center; justify-content:center; padding-top:80px">
        <h2 style="font-weight:bold">QUYỀN LỢI CỦA GIẦY - MUA SẮM. KIẾM TIỀN. ĐỔI QUÀ. LẬP LẠI</h2>
        <a style="color:black" asp-area="Identity" asp-page="/Account/Manage/Index">Đăng nhập hoặc tạo tài khoản</a>
        <div class="row" style="padding-top:30px">
            <div class="col-md-3" style="font-weight:bold">
                <img src="https://cdn.media.amplience.net/i/scvl/in-store-pick-up?fmt=auto" style="width:50px; height:50px"/>
                <h5>MIỄN PHÍ TRONG CỬA HÀNG NHẶT LÊN</h5>
                <p>Chọn tùy chọn nhận hàng và chuẩn bị các đơn hàng đủ điều kiện trong vòng chưa đầy 4 giờ.</p>
            </div>
            <div class="col-md-3" style="font-weight:bold">
                <img src="https://cdn.media.amplience.net/i/scvl/free-shipping?fmt=auto" style="width:50px; height:50px" />
                <h5>
                    MIỄN PHÍ VẬN CHUYỂN
                </h5>
                <p>Thành viên Shoe Perks được MIỄN PHÍ vận chuyển tiêu chuẩn cho mọi đơn hàng.</p>
            </div>
            <div class="col-md-3" style="font-weight:bold">
                <img src="https://cdn.media.amplience.net/i/scvl/same-day-delivery?fmt=auto" style="width:50px; height:50px" />
                <h5>CÙNG NGÀY VẬN CHUYỂN</h5>
                <p>Các mặt hàng đủ điều kiện được đặt hàng trước 1 giờ chiều theo giờ CST sẽ được giao trong ngày.</p>
            </div>
            <div class="col-md-3" style="font-weight:bold">
                <img src="https://cdn.media.amplience.net/i/scvl/points-with-every-purchase?fmt=auto" style="width:50px; height:50px" />
                <h5>THANH TOÁN LINH HOẠT</h5>
                <p>Chọn từ Klarna, ApplePay, PayPal và tất cả các loại thẻ tín dụng lớn.</p>
            </div>
        </div>
    </div>
</div>
<style>
    .about-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        cursor: pointer;
    }

        .about-section h2 {
            margin: 0;
            font-weight: bold;
            font-size: 24px;
        }

    .container {
        padding-left: 40px; /* Cách lề trái */
        padding-right: 40px; /* Cách lề phải */
    }

    .ul .li {
        margin-bottom: 10px; /* Khoảng cách giữa các dòng */
        list-style-type: disc; /* Kiểu dấu chấm */
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #000;
        border-radius: 50%;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    .content {
        max-height: 200;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
        padding: 0 20px;
        font-size: 16px;
        line-height: 1.5;
        display: none;
    }

        .content.show {
            display: block;
            max-height: 1000px; /* Đặt giá trị đủ lớn để chứa nội dung */
            padding: 20px;
            border-color: #ddd;
        }
</style>


<script>
    function toggleContent(element) {
        var content = element.closest('.about-section').nextElementSibling;
        var toggleIcon = element.querySelector('.toggleIcon');
        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            toggleIcon.textContent = "×";
        } else {
            content.style.display = "none";
            toggleIcon.textContent = "+";
        }
    }
</script>