@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}



<partial name="_StatusMessage" for="StatusMessage" />

<form id="set-password-form" method="post">
    <div class="account-forgot-password-form">
        <div class="account-forgot-password-header">
            <h1 class="account-forgot-password-header-title">Đổi mật khẩu</h1>
            <div class="account-forgot-password-header-des">
                Để bảo mật tài khoản,
                vui lòng không chia sẻ mật khẩu cho người khác
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="account-forgot-password-body">
            <div class="account-forgot-password-group">
                <div class="account-forgot-password-item">
                    <div class="account-forgot-password-item-flex">
                        <div class="account-forgot-password-label">
                            <label class="account-forgot-password-label-text" for="newPasswordRepeat">Nhập mật khẩu mới</label>
                        </div>
                        <div class="account-forgot-password-input-full-area">
                            <input class="account-forgot-password-input account-forgot-password-input-full" asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true">
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="account-forgot-password-group">
                <div class="account-forgot-password-item">
                    <div class="account-forgot-password-item-flex">
                        <div class="account-forgot-password-label">
                            <label class="account-forgot-password-label-text" for="newPasswordRepeat">Xác nhận mật khẩu</label>
                        </div>
                        <div class="account-forgot-password-input-full-area">
                            <input class="account-forgot-password-input account-forgot-password-input-full" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="account-forgot-password-group">
                <div class="account-forgot-password-left-space"></div>
                <div class="account-forgot-password-right-space">
                    <button type="submit" class="btn btn-solid-primary btn--m btn--inline" aria-disabled="true">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
