<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Statistical" asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="@ViewBag.pTitleLink" asp-action="Index">@ViewBag.pTitle</a></li>
                   
                     @*  <li class="breadcrumb-item"><a href="javascript: void(0)">@ViewBag.pTitle</a></li> *@  
                    <li class="breadcrumb-item" aria-current="page">@ViewBag.Title</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->