<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col-sm-6 my-1">
                <p class="m-0">Được phát triển  &#9829; bởi nhóm <a href="#" target="_blank">Cỏ bốn lá </a></p>
            </div>
            <div class="col-sm-6 ms-auto my-1">
                <ul class="list-inline footer-link mb-0 justify-content-sm-end d-flex">
                    <li class="list-inline-item"><a href="/">Trang chủ</a></li>
                    <li class="list-inline-item"><a href="/" target="_blank">Tài liệu</a></li>
                    <li class="list-inline-item"><a href="/" target="_blank">Hỗ trợ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
