
<li class="pc-item pc-hasmenu">
    <a asp-area="Admin" asp-controller="Statistical" asp-action="Index" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-gauge"></i>
        </span>
        <span class="pc-mtext">Dashboard</span>
@*         <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
        <span class="pc-badge">2</span> *@
    </a>
@*     <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/admin/dashboard">Phân tích</a></li>
        <li class="pc-item"><a class="pc-link" href="/admin/dashboard/">Thống kê</a></li>
    </ul> *@
</li>
<li class="pc-item">
    <a href="/admin/ManagerOrder" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-identification-card"></i>
        </span>
        <span class="pc-mtext">Quản lý hoá đơn</span>
    </a>
</li>
<li class="pc-item">
    <a href="/admin/user" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-identification-card"></i>
        </span>
        <span class="pc-mtext">Người dùng</span>
    </a>
</li>
<li class="pc-item">
    <a href="/admin/role" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-identification-card"></i>
        </span>
        <span class="pc-mtext">Chức vụ</span>
    </a>
</li>

<li class="pc-item">
    <a href="/admin/products" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-sneaker"></i>
        </span>
        <span class="pc-mtext">Sản phẩm</span>
    </a>
</li>

<li class="pc-item">
    <a href="/admin/Size" class="pc-link">
        <span class="pc-micon">
            <i class="ti ti-dimensions l"></i>
        </span>
        <span class="pc-mtext">Kích cỡ</span>
    </a>
</li>
<li class="pc-item">
    <a href="/admin/category" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-identification-card"></i>
        </span>
        <span class="pc-mtext">Loại sản phẩm</span>
    </a>
</li>
<li class="pc-item">
    <a href="/admin/material" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-identification-card"></i>
        </span>
        <span class="pc-mtext">Chất Liệu</span>
    </a>
</li>
<li class="pc-item">
    <a href="/admin/post" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-note"></i>
        </span>
        <span class="pc-mtext">Bài đăng</span>
    </a>
</li>
<li class="pc-item">
    <a href="/admin/voucher" class="pc-link">
        <span class="pc-micon">
            <i class="ti ti-ticket"></i>
        </span>
        <span class="pc-mtext">Mã giảm giá</span>
    </a>
</li>
<li class="pc-item">
    <a href="/admin/rank" class="pc-link">
        <span class="pc-micon">
            <i class="ti ti-ticket"></i>
        </span>
        <span class="pc-mtext">Rank</span>
    </a>
</li>
<li class="pc-item">
    <a href="/admin/bantaiquay" class="pc-link">
        <span class="pc-micon">
            <i class="ti ti-building-store"></i>
        </span>
        <span class="pc-mtext">Bán tại quầy</span>
    </a>
</li>

@* <li class="pc-item">
    <a href="/widget/data" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-database"></i>
        </span>
        <span class="pc-mtext">Dữ liệu</span>
    </a>
</li> *@
