<!-- [ Header Topbar ] start -->
<header class="pc-header">
    <div class="header-wrapper">
        @Html.Partial("~/Areas/Admin/Shared/HeaderContent.cshtml")
    </div>
</header>
<!-- [ Header ] end -->
