@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewBag.Title = "Thêm mới";
    ViewBag.pTitle = "Chức vụ";
    ViewBag.pTitleLink = "Role";

}

@Html.Partial("~/Areas/Admin/Shared/_ErrorMessage.cshtml")
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>Thêm mới chức vụ</h5>
            </div>
            <form method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="form-label">Tên Chức vụ</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Nhập tên Chức vụ">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                        <div class="card-body text-end btn-page">
                            <button type="submit" class="btn btn-primary mb-0">Thêm mới</button>
                        </div>
                </div>
            </form>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</div>


