@using FourLeafCloverShoe.Share.ViewModels;

@model UserViewModel
@{
    ViewBag.Title = "Cập nhật";
    ViewBag.pTitle = "Người dùng";
    ViewBag.pTitleLink = "User";

}
@Html.Partial("~/Areas/Admin/Shared/_ErrorMessage.cshtml")

<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-xl-12">
        <div class="card">

            <form method="post" asp-action="Edit">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="@Model.Id" hidden />
                    <div class="form-group">
                        <label class="form-label">Họ và tên</label>
                        <input asp-for="FullName" type="text" class="form-control" placeholder="Nhập tên">
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Tên đăng nhập</label>
                        <input asp-for="UserName" type="text" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input asp-for="Email" readonly type="email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Số điện thoại</label>
                        <input asp-for="PhoneNumber" type="tel" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Role">Chức vụ</label>

                        <select class="form-control" multiple id="reset-multiple" asp-for="Roles">
                            @foreach (var role in ViewBag.Roles)
                            {
                                <option value="@role.Value">@role.Text</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="col-sm-12">
                        <div class="card-body text-end btn-page">
                            <button type="submit" class="btn btn-primary mb-0">Lưu thay đổi</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</div>


